<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jc.dao.RiskLimitMapper">
  <resultMap id="BaseResultMap" type="com.jc.pojo.RiskLimit">
    <result column="L_RISK_NO" jdbcType="DECIMAL" property="riskNo" />
    <result column="VC_TENANT_ID" jdbcType="VARCHAR" property="tenantId" />
    <result column="C_CUST_RISK_TYPE" jdbcType="CHAR" property="custRiskType" />
    <result column="C_PRODUCT_RISK_LEVEL" jdbcType="CHAR" property="productRiskLevel" />
    <result column="C_RISK_LIMIT_TYPE" jdbcType="CHAR" property="riskLimitType" />
    <result column="C_RISK_LIMIT_MODE" jdbcType="CHAR" property="riskLimitMode" />
    <result column="C_CUST_TYPE" jdbcType="CHAR" property="custType" />
    <result column="C_QUESTION_KIND" jdbcType="CHAR" property="questionKind" />
  </resultMap>
  <insert id="insert" parameterType="com.jc.pojo.RiskLimit">
    insert into tc_trisklimit (L_RISK_NO, VC_TENANT_ID, C_CUST_RISK_TYPE, 
      C_PRODUCT_RISK_LEVEL, C_RISK_LIMIT_TYPE, C_RISK_LIMIT_MODE, 
      C_CUST_TYPE, C_QUESTION_KIND)
    values (#{riskNo,jdbcType=DECIMAL}, #{tenantId,jdbcType=VARCHAR}, #{custRiskType,jdbcType=CHAR}, 
      #{productRiskLevel,jdbcType=CHAR}, #{riskLimitType,jdbcType=CHAR}, #{riskLimitMode,jdbcType=CHAR}, 
      #{custType,jdbcType=CHAR}, #{questionKind,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jc.pojo.RiskLimit">
    insert into tc_trisklimit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="riskNo != null">
        L_RISK_NO,
      </if>
      <if test="tenantId != null">
        VC_TENANT_ID,
      </if>
      <if test="custRiskType != null">
        C_CUST_RISK_TYPE,
      </if>
      <if test="productRiskLevel != null">
        C_PRODUCT_RISK_LEVEL,
      </if>
      <if test="riskLimitType != null">
        C_RISK_LIMIT_TYPE,
      </if>
      <if test="riskLimitMode != null">
        C_RISK_LIMIT_MODE,
      </if>
      <if test="custType != null">
        C_CUST_TYPE,
      </if>
      <if test="questionKind != null">
        C_QUESTION_KIND,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="riskNo != null">
        #{riskNo,jdbcType=DECIMAL},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="custRiskType != null">
        #{custRiskType,jdbcType=CHAR},
      </if>
      <if test="productRiskLevel != null">
        #{productRiskLevel,jdbcType=CHAR},
      </if>
      <if test="riskLimitType != null">
        #{riskLimitType,jdbcType=CHAR},
      </if>
      <if test="riskLimitMode != null">
        #{riskLimitMode,jdbcType=CHAR},
      </if>
      <if test="custType != null">
        #{custType,jdbcType=CHAR},
      </if>
      <if test="questionKind != null">
        #{questionKind,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.jc.pojo.RiskLimit">
    <result column="L_RISK_NO" jdbcType="DECIMAL" property="riskNo" />
    <result column="VC_TENANT_ID" jdbcType="VARCHAR" property="vcTenantId" />
    <result column="C_CUST_RISK_TYPE" jdbcType="CHAR" property="cCustRiskType" />
    <result column="C_PRODUCT_RISK_LEVEL" jdbcType="CHAR" property="cProductRiskLevel" />
    <result column="C_RISK_LIMIT_TYPE" jdbcType="CHAR" property="cRiskLimitType" />
    <result column="C_RISK_LIMIT_MODE" jdbcType="CHAR" property="cRiskLimitMode" />
    <result column="C_CUST_TYPE" jdbcType="CHAR" property="cCustType" />
    <result column="C_QUESTION_KIND" jdbcType="CHAR" property="cQuestionKind" />
  </resultMap>
  <insert id="insert" parameterType="com.jc.pojo.RiskLimit">
    insert into tc_trisklimit (L_RISK_NO, VC_TENANT_ID, C_CUST_RISK_TYPE, 
      C_PRODUCT_RISK_LEVEL, C_RISK_LIMIT_TYPE, C_RISK_LIMIT_MODE, 
      C_CUST_TYPE, C_QUESTION_KIND)
    values (#{riskNo,jdbcType=DECIMAL}, #{vcTenantId,jdbcType=VARCHAR}, #{cCustRiskType,jdbcType=CHAR}, 
      #{cProductRiskLevel,jdbcType=CHAR}, #{cRiskLimitType,jdbcType=CHAR}, #{cRiskLimitMode,jdbcType=CHAR}, 
      #{cCustType,jdbcType=CHAR}, #{cQuestionKind,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jc.pojo.RiskLimit">
    insert into tc_trisklimit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="riskNo != null">
        L_RISK_NO,
      </if>
      <if test="vcTenantId != null">
        VC_TENANT_ID,
      </if>
      <if test="cCustRiskType != null">
        C_CUST_RISK_TYPE,
      </if>
      <if test="cProductRiskLevel != null">
        C_PRODUCT_RISK_LEVEL,
      </if>
      <if test="cRiskLimitType != null">
        C_RISK_LIMIT_TYPE,
      </if>
      <if test="cRiskLimitMode != null">
        C_RISK_LIMIT_MODE,
      </if>
      <if test="cCustType != null">
        C_CUST_TYPE,
      </if>
      <if test="cQuestionKind != null">
        C_QUESTION_KIND,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="riskNo != null">
        #{riskNo,jdbcType=DECIMAL},
      </if>
      <if test="vcTenantId != null">
        #{vcTenantId,jdbcType=VARCHAR},
      </if>
      <if test="cCustRiskType != null">
        #{cCustRiskType,jdbcType=CHAR},
      </if>
      <if test="cProductRiskLevel != null">
        #{cProductRiskLevel,jdbcType=CHAR},
      </if>
      <if test="cRiskLimitType != null">
        #{cRiskLimitType,jdbcType=CHAR},
      </if>
      <if test="cRiskLimitMode != null">
        #{cRiskLimitMode,jdbcType=CHAR},
      </if>
      <if test="cCustType != null">
        #{cCustType,jdbcType=CHAR},
      </if>
      <if test="cQuestionKind != null">
        #{cQuestionKind,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.jc.pojo.RiskLimit">
    <result column="L_RISK_NO" jdbcType="DECIMAL" property="riskNo" />
    <result column="VC_TENANT_ID" jdbcType="VARCHAR" property="cTenantId" />
    <result column="C_CUST_RISK_TYPE" jdbcType="CHAR" property="cCustRiskType" />
    <result column="C_PRODUCT_RISK_LEVEL" jdbcType="CHAR" property="cProductRiskLevel" />
    <result column="C_RISK_LIMIT_TYPE" jdbcType="CHAR" property="cRiskLimitType" />
    <result column="C_RISK_LIMIT_MODE" jdbcType="CHAR" property="cRiskLimitMode" />
    <result column="C_CUST_TYPE" jdbcType="CHAR" property="cCustType" />
    <result column="C_QUESTION_KIND" jdbcType="CHAR" property="cQuestionKind" />
  </resultMap>
  <insert id="insert" parameterType="com.jc.pojo.RiskLimit">
    insert into tc_trisklimit (L_RISK_NO, VC_TENANT_ID, C_CUST_RISK_TYPE, 
      C_PRODUCT_RISK_LEVEL, C_RISK_LIMIT_TYPE, C_RISK_LIMIT_MODE, 
      C_CUST_TYPE, C_QUESTION_KIND)
    values (#{riskNo,jdbcType=DECIMAL}, #{cTenantId,jdbcType=VARCHAR}, #{cCustRiskType,jdbcType=CHAR}, 
      #{cProductRiskLevel,jdbcType=CHAR}, #{cRiskLimitType,jdbcType=CHAR}, #{cRiskLimitMode,jdbcType=CHAR}, 
      #{cCustType,jdbcType=CHAR}, #{cQuestionKind,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jc.pojo.RiskLimit">
    insert into tc_trisklimit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="riskNo != null">
        L_RISK_NO,
      </if>
      <if test="cTenantId != null">
        VC_TENANT_ID,
      </if>
      <if test="cCustRiskType != null">
        C_CUST_RISK_TYPE,
      </if>
      <if test="cProductRiskLevel != null">
        C_PRODUCT_RISK_LEVEL,
      </if>
      <if test="cRiskLimitType != null">
        C_RISK_LIMIT_TYPE,
      </if>
      <if test="cRiskLimitMode != null">
        C_RISK_LIMIT_MODE,
      </if>
      <if test="cCustType != null">
        C_CUST_TYPE,
      </if>
      <if test="cQuestionKind != null">
        C_QUESTION_KIND,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="riskNo != null">
        #{riskNo,jdbcType=DECIMAL},
      </if>
      <if test="cTenantId != null">
        #{cTenantId,jdbcType=VARCHAR},
      </if>
      <if test="cCustRiskType != null">
        #{cCustRiskType,jdbcType=CHAR},
      </if>
      <if test="cProductRiskLevel != null">
        #{cProductRiskLevel,jdbcType=CHAR},
      </if>
      <if test="cRiskLimitType != null">
        #{cRiskLimitType,jdbcType=CHAR},
      </if>
      <if test="cRiskLimitMode != null">
        #{cRiskLimitMode,jdbcType=CHAR},
      </if>
      <if test="cCustType != null">
        #{cCustType,jdbcType=CHAR},
      </if>
      <if test="cQuestionKind != null">
        #{cQuestionKind,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>